flows.json
[
    {
        "id": "4a980d5862cc3ba8",
        "type": "tab",
        "label": "Live",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a12ecb05b49aa2db",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "719ee0bd1a35afcd",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "framework_auth",
                "value": "user=administrator@reggiepage.hu&password=Security0",
                "type": "str"
            }
        ]
    },
    {
        "id": "7b13faaa2632ba18",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 380,
        "wires": [
            [
                "ac72a07014656f72"
            ]
        ]
    },
    {
        "id": "19c53d534e66577d",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/calendar/*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "0ff02e5b0e972bc0",
                "783086860edc253c"
            ]
        ]
    },
    {
        "id": "0ff02e5b0e972bc0",
        "type": "debug",
        "z": "4a980d5862cc3ba8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "ac72a07014656f72",
        "type": "http response",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "text/html"
        },
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "783086860edc253c",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "framework_auth",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "b11266db9310543f"
            ]
        ]
    },
    {
        "id": "b11266db9310543f",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 1",
        "func": "msg.payload+=\"&model=reminderCalendar&method=generateIcsByName&endpoint=\"\nmsg.payload+=msg.req.params[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "7b13faaa2632ba18"
            ]
        ]
    },
    {
        "id": "12846b302e5f56cb",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/utazo_majmok_naptar",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "a4184c34bbcde6e1",
                "6d75121dcc4a4cbe"
            ]
        ]
    },
    {
        "id": "a4184c34bbcde6e1",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "framework_auth",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 440,
        "wires": [
            [
                "d8d3faf690a922a4"
            ]
        ]
    },
    {
        "id": "d8d3faf690a922a4",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 2",
        "func": "msg.payload+=\"&model=travelTravel&method=getIcsFile\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 440,
        "wires": [
            [
                "7b13faaa2632ba18"
            ]
        ]
    },
    {
        "id": "6d75121dcc4a4cbe",
        "type": "debug",
        "z": "4a980d5862cc3ba8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "f58e8f497c8994fe",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/travelGoogleCalendarApi",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "aba81886ee2c8dc5"
            ]
        ]
    },
    {
        "id": "ab3ed5a2bbbfede5",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "all_state",
                "pt": "msg",
                "to": "payload.state",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "code",
                "pt": "msg",
                "to": "payload.code",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "framework_auth",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 560,
        "wires": [
            [
                "fa936665df6394af"
            ]
        ]
    },
    {
        "id": "fa936665df6394af",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 3",
        "func": "\nmsg.payload+=\"&model=travelTravel&method=receviedCalendarApiCode&state=\"+msg.all_state[0]+\"&id=\"+msg.all_state[1]+\"&processType=\"+msg.all_state[2]+\"&code=\"+msg.code\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 560,
        "wires": [
            [
                "c875e94e0f0cf5ef"
            ]
        ]
    },
    {
        "id": "aba81886ee2c8dc5",
        "type": "split",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "splt": "__",
        "spltType": "str",
        "arraySplt": "3",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.state",
        "x": 390,
        "y": 560,
        "wires": [
            [
                "8a0e12282d4b0b3d"
            ]
        ]
    },
    {
        "id": "8a0e12282d4b0b3d",
        "type": "join",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload.state",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "ab3ed5a2bbbfede5"
            ]
        ]
    },
    {
        "id": "1c2712889be9f748",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 4",
        "func": "msg.payload=\"<html><script type=\\\"text/javascript\\\">window.close() ;</script></html>\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 620,
        "wires": [
            [
                "ac72a07014656f72"
            ]
        ]
    },
    {
        "id": "c875e94e0f0cf5ef",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "1c2712889be9f748"
            ]
        ]
    },
    {
        "id": "c7e4eea0a3db41f0",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/travelGooglePhotosApi",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "7fd2063972eb58d6"
            ]
        ]
    },
    {
        "id": "7fd2063972eb58d6",
        "type": "split",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "splt": "__",
        "spltType": "str",
        "arraySplt": "2",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.state",
        "x": 390,
        "y": 680,
        "wires": [
            [
                "751f2ddd2384a8c7"
            ]
        ]
    },
    {
        "id": "751f2ddd2384a8c7",
        "type": "join",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload.state",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 680,
        "wires": [
            [
                "5d7012328bf2b65b"
            ]
        ]
    },
    {
        "id": "5d7012328bf2b65b",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "all_state",
                "pt": "msg",
                "to": "payload.state",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "code",
                "pt": "msg",
                "to": "payload.code",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "framework_auth",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 680,
        "wires": [
            [
                "5a7404561a2dca1b"
            ]
        ]
    },
    {
        "id": "5a7404561a2dca1b",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 5",
        "func": "\nmsg.payload+=\"&model=travelTravel&method=receviedApiCode&state=\"+msg.all_state[0]+\"&id=\"+msg.all_state[1]+\"&code=\"+msg.code\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 680,
        "wires": [
            [
                "c875e94e0f0cf5ef"
            ]
        ]
    },
    {
        "id": "1e9076d04a922d86",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "req.headers[\"user-agent\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "GitHub-Hookshot",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "0ed88a973fb63863"
            ],
            [
                "95c68cc5ee2f093a"
            ]
        ]
    },
    {
        "id": "8830cfc9dd6e8949",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/git-hooks",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "1e9076d04a922d86",
                "206728d2f7bb9b46"
            ]
        ]
    },
    {
        "id": "206728d2f7bb9b46",
        "type": "debug",
        "z": "4a980d5862cc3ba8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "0ed88a973fb63863",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jsondata",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "framework_auth",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "ace643b7abc468ed"
            ]
        ]
    },
    {
        "id": "ace643b7abc468ed",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 6",
        "func": "\nmsg.payload+=\"&model=developmentSubversionRevisions&method=gitHooksReceiver&jsonData=\"+JSON.stringify(msg.jsondata);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            [
                "c3c39e78a10e8a34"
            ]
        ]
    },
    {
        "id": "95c68cc5ee2f093a",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NOK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "ac72a07014656f72"
            ]
        ]
    },
    {
        "id": "c3c39e78a10e8a34",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 200,
        "wires": [
            [
                "ac72a07014656f72"
            ]
        ]
    },
    {
        "id": "a556e740d6b2520b",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/communicator",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "f012dd915c26950c",
                "ea4e717729960cf8"
            ]
        ]
    },
    {
        "id": "f012dd915c26950c",
        "type": "debug",
        "z": "4a980d5862cc3ba8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 900,
        "wires": []
    },
    {
        "id": "ea4e717729960cf8",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "req.headers.authorization",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Bearer",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 780,
        "wires": [
            [
                "0387361181f459cb"
            ],
            [
                "6d924fa315bce849"
            ]
        ]
    },
    {
        "id": "6d924fa315bce849",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 840,
        "wires": [
            [
                "e4b934fd596633fd"
            ]
        ]
    },
    {
        "id": "35506786d3eec263",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1930,
        "y": 760,
        "wires": [
            [
                "f98328aa6da51053"
            ]
        ]
    },
    {
        "id": "e4b934fd596633fd",
        "type": "http response",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 2400,
        "y": 860,
        "wires": []
    },
    {
        "id": "0387361181f459cb",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "req.headers.authorization",
                "pt": "msg",
                "from": "Bearer ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 780,
        "wires": [
            [
                "90e9d019b5939b2e"
            ]
        ]
    },
    {
        "id": "90e9d019b5939b2e",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jsonreq",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "framework_auth",
                "tot": "env",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 780,
        "wires": [
            [
                "4b0f7fcd752917e1"
            ]
        ]
    },
    {
        "id": "d722efb0d9fb44dd",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 7",
        "func": "\nmsg.payload += \"&model=iotGoogleHomeControl&method=interfaceCommunicator&userToken=\" + msg.req.headers.authorization + \"&requestId=\" + msg.jsonreq.requestId + \"&requestBody=\"+JSON.stringify(msg.jsonreq)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 820,
        "wires": [
            [
                "35506786d3eec263"
            ]
        ]
    },
    {
        "id": "4b0f7fcd752917e1",
        "type": "json",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "jsonreq",
        "action": "obj",
        "pretty": true,
        "x": 1130,
        "y": 780,
        "wires": [
            [
                "b3fe1ed9b02bf53b"
            ]
        ]
    },
    {
        "id": "b68bb2f44c8f6abb",
        "type": "inject",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 730,
        "y": 900,
        "wires": [
            [
                "b13f09e1811284ac"
            ]
        ]
    },
    {
        "id": "b13f09e1811284ac",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jsonreq",
                "pt": "msg",
                "to": "{\"inputs\":[{\"context\":{\"locale_country\":\"US\",\"locale_language\":\"en\"},\"intent\":\"action.devices.SYNC\",\"payload\":{\"commands\":[{\"devices\":[{\"id\":\"29\"}],\"execution\":[{\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true}}]}]}}],\"requestId\":\"11976023709519137634\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 900,
        "wires": [
            [
                "4b0f7fcd752917e1"
            ]
        ]
    },
    {
        "id": "b3fe1ed9b02bf53b",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "jsonreq",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "inputs",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1290,
        "y": 780,
        "wires": [
            [
                "272e57e56c4812de"
            ]
        ]
    },
    {
        "id": "272e57e56c4812de",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 8",
        "func": "msg.result=\"NOK\";\nfor (let i in msg.jsonreq.inputs)\n{\n    if (msg.jsonreq.inputs[i].intent == \"action.devices.SYNC\") {\n        msg.result=\"OK\";\n        break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 780,
        "wires": [
            [
                "30cb13b8ef01ec9d"
            ]
        ]
    },
    {
        "id": "30cb13b8ef01ec9d",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1610,
        "y": 780,
        "wires": [
            [
                "af8efa3bd89d826b"
            ],
            [
                "d722efb0d9fb44dd"
            ]
        ]
    },
    {
        "id": "af8efa3bd89d826b",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 9",
        "func": "\nmsg.payload += \"&model=iotDevices&method=reportStateAfterSync&userAgentId=\" + msg.req.headers.authorization + \"&requestId=\" + msg.jsonreq.requestId\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 720,
        "wires": [
            [
                "35506786d3eec263"
            ]
        ]
    },
    {
        "id": "f98328aa6da51053",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "boolean",
                "vt": "boolean"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2090,
        "y": 760,
        "wires": [
            [
                "2bba39a28df0e492"
            ],
            [
                "e4b934fd596633fd"
            ]
        ]
    },
    {
        "id": "2bba39a28df0e492",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2240,
        "y": 680,
        "wires": [
            [
                "e4b934fd596633fd"
            ]
        ]
    },
    {
        "id": "5cd07f393f262442",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/login",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 980,
        "wires": [
            [
                "011022f1060d9c49",
                "4eeb15573071d609"
            ]
        ]
    },
    {
        "id": "263698a29f4a0b4b",
        "type": "http response",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/html"
        },
        "x": 2410,
        "y": 980,
        "wires": []
    },
    {
        "id": "011022f1060d9c49",
        "type": "file in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "filename": "/usr/local/bin/programs/homeControl/login.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 980,
        "wires": [
            [
                "baefa8d7d1cd116e"
            ]
        ]
    },
    {
        "id": "baefa8d7d1cd116e",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "html_content",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 980,
        "wires": [
            [
                "38727f474fa0e935"
            ]
        ]
    },
    {
        "id": "38727f474fa0e935",
        "type": "file in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "filename": "/usr/local/bin/programs/homeControl/smarthomeicon.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1170,
        "y": 980,
        "wires": [
            [
                "d2125a3f552936d7"
            ]
        ]
    },
    {
        "id": "cc7a56fe4edd8b64",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 10",
        "func": "msg.payload = msg.html_content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 980,
        "wires": [
            [
                "d918cd467184973c"
            ]
        ]
    },
    {
        "id": "f1913527ba476590",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "html_content",
                "pt": "msg",
                "from": "{image_content}",
                "fromt": "str",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 980,
        "wires": [
            [
                "cc7a56fe4edd8b64"
            ]
        ]
    },
    {
        "id": "d2125a3f552936d7",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 11",
        "func": "//const byteArray = new Uint8Array(msg.payload);\n//const binaryString = String.fromCharCode.apply(null, byteArray);\n//msg.payload = Buffer.from(binaryString,'base64');\nmsg.payload = msg.payload.toString('base64');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 980,
        "wires": [
            [
                "f1913527ba476590"
            ]
        ]
    },
    {
        "id": "d918cd467184973c",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "{bad_url}",
                "fromt": "str",
                "to": "req.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2180,
        "y": 980,
        "wires": [
            [
                "263698a29f4a0b4b"
            ]
        ]
    },
    {
        "id": "fbbfc0a6fe6f2eae",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1160,
        "wires": [
            [
                "aa7aeeeb549c37af"
            ]
        ]
    },
    {
        "id": "aa7aeeeb549c37af",
        "type": "http response",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4eeb15573071d609",
        "type": "debug",
        "z": "4a980d5862cc3ba8",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e9580f4c5359c59e",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/authentication",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1240,
        "wires": [
            [
                "fdf0ad8a78f094f1"
            ]
        ],
        "info": "payload.uname\r\npayload.psw\r\npayload.bad_url\r\nreq.headers.referer"
    },
    {
        "id": "7217fe212dfdaa5d",
        "type": "http response",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "statusCode": "302",
        "headers": {},
        "x": 1560,
        "y": 1200,
        "wires": []
    },
    {
        "id": "fdf0ad8a78f094f1",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 12",
        "func": "let url = msg.req.headers.referer\n// A query stringet a '?' után levágjuk\nlet queryString = url.split('?')[1];\n\n// A query string paramétereit \"&\"-el elválasztva szétbontjuk\nlet params = queryString.split('&');\n\n// Végigmegyünk a paramétereken, és megkeressük a \"redirect_uri\" értékét\nlet redirectUri = null;\nlet state = null;\nlet clientid = null;\nfor (let param of params) {\n    let [key, value] = param.split('=');\n    if (key === 'redirect_uri') {\n        redirectUri = decodeURIComponent(value);  // Dekódoljuk az URI-t\n    }\n    if (key === 'state') {\n        state = decodeURIComponent(value);  // Dekódoljuk az URI-t\n    }\n    if (key === 'client_id') {\n        clientid = decodeURIComponent(value);  // Dekódoljuk az URI-t\n    }\n}\n\nflow.set(\"redirecturi\", redirectUri);\nflow.set(\"state\", state);\nflow.set(\"clientid\", clientid);\nflow.set(\"bad_url\", msg.payload.bad_url);\n\nmsg.payload = \"user=administrator@reggiepage.hu&password=Security0\" + \"&model=iotGoogleHomeUsers&method=getUserAccess&responsetype=text&gg_username=\" + msg.payload.uname + \"&gg_password=\" + msg.payload.psw\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1240,
        "wires": [
            [
                "46368e30e4de237e"
            ]
        ]
    },
    {
        "id": "9975e2b4e7f3a1bb",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 1240,
        "wires": [
            [
                "8dc4424319ea611f"
            ],
            [
                "98bf14bfb546134d"
            ]
        ]
    },
    {
        "id": "46368e30e4de237e",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1240,
        "wires": [
            [
                "54f1602bda2b9289"
            ]
        ]
    },
    {
        "id": "5ecf867763017d39",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 13",
        "func": "msg.headers = {\n    Location: flow.get('redirecturi') +\"#access_token=\"+flow.get(\"usertoken\")+\"&state=\"+flow.get(\"state\")\n}\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1300,
        "wires": [
            [
                "7217fe212dfdaa5d"
            ]
        ]
    },
    {
        "id": "54f1602bda2b9289",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 14",
        "func": "flow.set(\"usertoken\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1240,
        "wires": [
            [
                "9975e2b4e7f3a1bb"
            ]
        ]
    },
    {
        "id": "8dc4424319ea611f",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 15",
        "func": "msg.headers = {\n    Location: flow.get(\"bad_url\")\n}\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1200,
        "wires": [
            [
                "7217fe212dfdaa5d"
            ]
        ]
    },
    {
        "id": "98bf14bfb546134d",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "clientid",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "250b9bc4-f318-49d5-8e79-dc17a97c1436",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 1300,
        "wires": [
            [
                "8dc4424319ea611f"
            ],
            [
                "8551f7cb74c5837b"
            ]
        ]
    },
    {
        "id": "8551f7cb74c5837b",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "redirecturi",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "https://oauth-redirect.googleusercontent.com/r/reggie-test-smart-home",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 1300,
        "wires": [
            [
                "8dc4424319ea611f"
            ],
            [
                "5ecf867763017d39"
            ]
        ]
    },
    {
        "id": "f361e9dc0f4a78c6",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/utazo_majmok_utazasok/*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1400,
        "wires": [
            [
                "44dc254e7e896060",
                "5421cefb1b6acb4d"
            ]
        ]
    },
    {
        "id": "0176d8c9f1802b4f",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/utazo_majmok_utazasok",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1460,
        "wires": [
            [
                "8f305c0ddf2bba59"
            ]
        ]
    },
    {
        "id": "7f6f1e493c7e824c",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/utazo_majmok_utazas_ertekeles/*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1540,
        "wires": [
            [
                "f724bcd1e9eb7a3c"
            ]
        ]
    },
    {
        "id": "a3a6eef69baefcc0",
        "type": "http response",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1290,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f724bcd1e9eb7a3c",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 25",
        "func": "msg.payload = env.get('framework_auth');\nmsg.payload +=\"&model=travelTravelVote&method=getTravelData&responsetype=json&identity=\"+msg.req.params[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1540,
        "wires": [
            [
                "6641ad1c8fc1db4f"
            ]
        ]
    },
    {
        "id": "8099a9639631b2ba",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/utazo_majmok_ertekeles",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1600,
        "wires": [
            [
                "700b812e1db840e0"
            ]
        ]
    },
    {
        "id": "7afa3b5af0808766",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 26",
        "func": "msg.payload = `<!DOCTYPE html>\n<html lang=\"hu\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Utazás Értékelése</title>\n    <style>\n    body {\n        margin: 0;\n        height: 100vh;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        font-family: Arial, sans-serif;\n        background-color: #3c4f66;\n    }\n\n    .container {\n        background-color: #ffffff; \n        padding: 20px;\n\t\tpadding-top: 0px;\n        border-radius: 15px;\n        text-align: center;\n        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); \n    }\n\n    .stars {\n        font-size: 50px;\n        cursor: pointer;\n\t\tmargin-top: -20px;\n    }\n\n    .star {\n        color: lightgray;\n    }\n\n    .star.selected {\n        color: gold;\n    }\n\n    .star:hover {\n        color: gold;\n    }\n\n    button {\n        background-color: #4CAF50;\n        color: white;\n        padding: 10px 20px;\n\t\tmargin-top: 20px;\n        font-size: 16px;\n        border: none;\n        border-radius: 25px; \n        cursor: pointer;\n        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n        transition: background-color 0.3s, box-shadow 0.3s; \n    }\n\n    button:hover {\n        background-color: #45a049; \n        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); \n    }\n\n    button:disabled {\n        background-color: gray;\n        cursor: not-allowed;\n        box-shadow: none; \n    }\n\t</style>\n</head>\n<body>\n\n    <div class=\"container\">\n        <h2>${msg.payload.travel} utazás értékelése</h2>\n        <form action=\"https://reggiepage.hu:1100/utazo_majmok_ertekeles\" method=\"POST\">\n            <div class=\"stars\">\n                <span class=\"star\" data-value=\"1\">&#9733;</span>\n                <span class=\"star\" data-value=\"2\">&#9733;</span>\n                <span class=\"star\" data-value=\"3\">&#9733;</span>\n                <span class=\"star\" data-value=\"4\">&#9733;</span>\n                <span class=\"star\" data-value=\"5\">&#9733;</span>\n            </div>\n            <input type=\"hidden\" name=\"rating\" id=\"rating\" value=\"0\">\n            <button id=\"submit\" type=\"submit\" disabled>Küldés</button>\n        </form>\n    </div>\n\n<script>\nconst stars = document.querySelectorAll('.star');\nlet selectedValue = 0;\nconst submitButton = document.getElementById('submit');\nconst ratingInput = document.getElementById('rating');\n\nstars.forEach(star => {\n    star.addEventListener('mouseover', () => {\n        resetStars();\n        const value = star.getAttribute('data-value');\n        highlightStars(value);\n    });\n\n    star.addEventListener('mouseout', () => {\n        resetStars();\n        highlightStars(selectedValue);\n    });\n\n    star.addEventListener('click', () => {\n        selectedValue = star.getAttribute('data-value');\n        highlightStars(selectedValue);\n        ratingInput.value = selectedValue;\n        submitButton.disabled = false;\n    });\n});\n\nfunction highlightStars(value) {\n    stars.forEach(star => {\n        if (star.getAttribute('data-value') <= value) {\n            star.classList.add('selected');\n        }\n    });\n}\n\nfunction resetStars() {\n    stars.forEach(star => {\n        star.classList.remove('selected');\n    });\n}\n</script>\n</body>\n</html>\n\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1420,
        "wires": [
            [
                "a3a6eef69baefcc0"
            ]
        ]
    },
    {
        "id": "6641ad1c8fc1db4f",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1540,
        "wires": [
            [
                "90ee0a5b6310494a"
            ]
        ]
    },
    {
        "id": "90ee0a5b6310494a",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "payload.error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 1540,
        "wires": [
            [
                "7afa3b5af0808766"
            ],
            [
                "c11f5d32325cb286"
            ]
        ]
    },
    {
        "id": "c11f5d32325cb286",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 27",
        "func": "let container_color = '#ffffff';\nif (msg.payload.error) {\n    container_color = '#b00505';\n}\n\nmsg.payload=`<!DOCTYPE html>\n<html lang=\"hu\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Utazás Értékelése</title>\n    <style>\n    body {\n        margin: 0;\n        height: 100vh;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        font-family: Arial, sans-serif;\n        background-color: #3c4f66;\n    }\n\n    .container {\n        background-color: ${container_color}; \n        padding: 20px;\n\t\tpadding-top: 10px;\n\t\tpadding-bottom: 10px;\n        border-radius: 15px;\n        text-align: center;\n        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); \n    }\n\n\n\t</style>\n</head>\n<body>\n\n    <div class=\"container\">\n        <h2>${msg.payload.message}</h2>\n    </div>\n\n</body>\n</html>\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1660,
        "wires": [
            [
                "a3a6eef69baefcc0"
            ]
        ]
    },
    {
        "id": "700b812e1db840e0",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 28",
        "func": "let rating = msg.payload.rating;\nmsg.payload = env.get('framework_auth');\n\nlet url = msg.req.headers.referer;\nlet lastPart = url.substring(url.lastIndexOf('/') + 1);\nmsg.payload +=\"&model=travelTravelVote&method=saveVote&responsetype=json&identity=\"+lastPart+\"&value=\"+rating;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1600,
        "wires": [
            [
                "94ede895da293d24"
            ]
        ]
    },
    {
        "id": "94ede895da293d24",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1600,
        "wires": [
            [
                "b07269333f86cf21"
            ]
        ]
    },
    {
        "id": "b07269333f86cf21",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "payload.error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 1600,
        "wires": [
            [
                "3cf795323b0dd35e"
            ],
            [
                "c11f5d32325cb286"
            ]
        ]
    },
    {
        "id": "3cf795323b0dd35e",
        "type": "change",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Értékelés mentése sikeres",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1540,
        "wires": [
            [
                "c11f5d32325cb286"
            ]
        ]
    },
    {
        "id": "50b0c7253774182e",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 29",
        "func": "msg.payload.error = true;\nmsg.payload.message = \"...\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1660,
        "wires": [
            [
                "c11f5d32325cb286"
            ]
        ]
    },
    {
        "id": "5be33716dd74a02b",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/utazo_majmok_utazas_ertekeles",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1660,
        "wires": [
            [
                "50b0c7253774182e"
            ]
        ]
    },
    {
        "id": "8f305c0ddf2bba59",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 30",
        "func": "msg.payload.error = true;\nmsg.payload.message = \"...\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1460,
        "wires": [
            [
                "c11f5d32325cb286"
            ]
        ]
    },
    {
        "id": "5a461822224e8e0d",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 31",
        "func": "let old_payload = msg.payload;\nlet table_string = '';\nlet travelno = old_payload.length;\nlet scripts = `<script>\nvar modal = document.getElementById(\"myModal\");\nvar modalBody = document.getElementById(\"modal-body\");\nvar closeBtn = document.getElementsByClassName(\"close\")[0];\n\ndocument.querySelectorAll('.modal-row').forEach(function(row) {\n  row.onclick = function() {\n    var contentUrl = this.getAttribute('data-content-url');\n    fetchContent(\"https://reggiepage.hu:1100/utazo_majmok_utazas_adatok/\"+contentUrl);\n\n    modal.style.display = \"block\";\n    setTimeout(function() {\n      modal.classList.add(\"show\");\n      modal.style.opacity = 1;\n      modal.style.transform = \"scale(1)\";\n    }, 300);\n  };\n});\n\nfunction fetchContent(url) {\n  fetch(url)\n    .then(response => response.text())\n    .then(data => {\n      modalBody.innerHTML = data;\n      runInlineScripts(modalBody);\n    })\n    .catch(error => {\n      console.error('Hiba a tartalom betöltésekor:', error);\n      modalBody.innerHTML = 'Hiba történt a tartalom betöltésekor.';\n    });\n}\n\nfunction runInlineScripts(container) {\n    const scripts = container.getElementsByTagName('script');\n    for (let i = 0; i < scripts.length; i++) {\n        eval(scripts[i].innerHTML); // A script futtatása\n    }\n}\n\ncloseBtn.onclick = function() {\n  modal.style.opacity = 0;\n  modal.style.transform = \"scale(0.9)\";\n      \n  setTimeout(function() {\n    modal.classList.remove(\"show\");\n    modal.style.display = \"none\";\n  }, 500);\n}\n\nwindow.onclick = function(event) {\n  if (event.target == modal) {\n    modal.style.opacity = 0;\n    modal.style.transform = \"scale(0.9)\";\n    setTimeout(function() {\n      modal.classList.remove(\"show\");\n      modal.style.display = \"none\";\n    }, 500);\n  }\n}\nconsole.log('Csak nem kiváncsi vagy a kódra?')\n</script>\n<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n`;\nlet converter = 100.0/5.0;\nfor (let key in old_payload)\n{\n\n  let result_cell = \"-\"\n  if (old_payload[key].is_rating)\n  {\n    let current_result = converter*old_payload[key].vote_result;\n    result_cell = `<div class=\"star-rating star-rating-read star-rating-sm\">\n    <div class=\"star-rating-inner\" style=\"width: ${current_result}%\"></div>\n  </div> (${old_payload[key].vote_result.toFixed(1)})`}\n\n  \n    table_string += `<tr class=\"modal-row\" data-content-url=\"${old_payload[key].identity}\">\n    <td style=\"color: #000\">${travelno}.</td>\n    <td>${old_payload[key].name}</td>\n    <td>${old_payload[key].travel_date}</td>\n    <td>${old_payload[key].traveller}</td>\n    <td id=\"res\">${result_cell}</td>\n    </tr>`;\n  travelno = travelno-1;\n};\n\nmsg.payload =\n    `<html>\n<head>\n<title>Utazásaim</title>\n<style>\ntable {\n  padding-bottom: 2px;\n  border: 0px solid black;\n  font-family: Verdana, sans-serif;\n  border-collapse: collapse;\n  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);\n}\ntable td, table th {\n  padding: 10px;\n  padding-top: 2px;\n  padding-bottom: 2px;\n}\ntable td {\n  height: 30px;\n}\ntable th {\ncolor: #ffffff;\nbackground-color: #353149;\n}\n#my td, #my th {\nvertical-align: middle;\n}\n\n.clickable-table tbody tr:hover {\n  background-color: #bfbbbb; \n  cursor: pointer;\n}\ntable tr:nth-child(odd) {\n  background-color: #FFFFFF;\n  color: #444;\n}\n\ntable tr:nth-child(even) {\n  background-color: #F2F2F2;\n  color: #444;\n}\n#res {\n  text-align:center;\n}\n.star-rating {\n    display: inline-block;\n    position: relative;\n    white-space: nowrap;\n    vertical-align: top;\n    height: 32px;\n    line-height: 32px;\n    font-size: 36px;\n    color: #ccc;\n    letter-spacing: 0px\n}\n\n.star-rating:before {\n    position: relative;\n    content: \"★★★★★\";\n    display: inline-block\n}\n\n.star-rating .star-rating-inner {\n    white-space: nowrap;\n    position: absolute;\n    line-height: inherit;\n    height: inherit;\n    top: 0;\n    left: 0;\n    z-index: 1;\n    overflow: hidden\n}\n\n.star-rating.star-rating-sm {\n    height: 20px;\n    line-height: 20px;\n    font-size: 24px\n}\n\n.star-rating-read .star-rating-inner:before {\n    position: relative;\n    content: \"★★★★★\";\n    color: #f9bf3b\n    }\n\n.modal {\n    display: none;\n    position: fixed;\n    z-index: 1;\n    left: 0;\n    top: 0;\n    width: 100%;\n    height: 100%;\n    overflow: auto;\n    background-color: rgba(0, 0, 0, 0.4);\n}\n\n.modal-content {\n    background-color: #fefefe;\n    margin: auto;\n    padding: 20px;\n    border: 1px solid #888;\n    width: 80%;\n    max-height: 80vh;\n    overflow-y: auto;\n    position: relative;\n    border-radius: 15px;\n    transform: scale(0.9);\n    box-shadow: 0 4px 10px rgba(255, 255, 255, 50%);\n    padding-top: 0px;\n}\n\n\n\n.modal.show {\n  display: block;\n  opacity: 1;\n  transform: scale(1);\n}\n\n.close {\n  position: absolute;\n  right: 15%;\n  top: 5%;\n  z-index: 10;\n  font-size: 24px;\n  cursor: pointer;\n}\n.close:hover {\n    color: #ff0000;\n}\n\n\n</style>\n</head>\n<body bgcolor=\"#3c4f66\">\n<div align=\"center\">\n<table id=\"my\" class=\"clickable-table\">\n<tr>\n<th>No.</th>\n<th>Utazás</th>\n<th>Dátum</th>\n<th>Utazók</th>\n<th>Értékelés</th>\n</tr>\n${table_string}\n</table>\n</div>\n  <div id=\"myModal\" class=\"modal\">\n      <span class=\"close\">&times;</span>\n    <div class=\"modal-content\">\n    <div id=\"referer\"></div>\n      <div id=\"modal-body\" style=\"margin-top: 10px\">Tartalom betöltése...</div>\n    </div>\n  </div>\n${scripts}\n</body>\n</html>`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1400,
        "wires": [
            [
                "a3a6eef69baefcc0"
            ]
        ]
    },
    {
        "id": "c3e411d568c3c055",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 1400,
        "wires": [
            [
                "5a461822224e8e0d"
            ]
        ]
    },
    {
        "id": "44dc254e7e896060",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 32",
        "func": "msg.payload = env.get('framework_auth');\nmsg.payload +=\"&model=travelUsers&method=getAllTravelByIdentity&responsetype=json&identity=\"+msg.req.params[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1400,
        "wires": [
            [
                "c3e411d568c3c055"
            ]
        ]
    },
    {
        "id": "25d6498c2da77db1",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 33",
        "func": "msg.payload = env.get('framework_auth');\nmsg.payload +=\"&model=travelTravel&method=getTravelDataByIdentity&responsetype=json&identity=\"+msg.req.params[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1720,
        "wires": [
            [
                "3eef0c1c95b507f6"
            ]
        ]
    },
    {
        "id": "bca01548cea0db71",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/utazo_majmok_utazas_adatok/*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "25d6498c2da77db1"
            ]
        ]
    },
    {
        "id": "3eef0c1c95b507f6",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1720,
        "wires": [
            [
                "eb90b39a3cba7ba9"
            ]
        ]
    },
    {
        "id": "5ae2f8798dd4a0b3",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 34",
        "func": "let old_payload = msg.payload;\n\nlet rating = '';\nlet converter = 100/5;\nif (old_payload.is_rating)\n{\n    let current_result = converter*old_payload.vote_result;\n    rating = `<br/><div class=\"star-rating star-rating-read star-rating-sm\" style=\"line-height:30px\">\n    <div class=\"star-rating-inner\" style=\"height:30px;width: ${current_result}%\"></div>\n  </div> <font style=\"font-size:18px\">(${old_payload.vote_result})</font>`\n\n}\n\nlet external_links = '';\n\nif (old_payload.calendar_web_link)\n{\n    external_links+=`<a href=\"${old_payload.calendar_web_link}\" target=\"new\"><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/240px-Google_Calendar_icon_%282020%29.svg.png\" width=\"35\"/></a>`;\n}\n\nif (old_payload.album_link)\n{\n    external_links+=`<a href=\"${old_payload.album_link}\" target=\"new\"><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Photos_icon_%282020%29.svg/240px-Google_Photos_icon_%282020%29.svg.png\" width=\"35\" style=\"margin-left:20px\"/></a>`;\n}\n\n\nlet crest_img = '';\nif (old_payload.crest_img)\n{\n//    crest_img = `<div align=\"center\"><img src=\"data:image/png;base64,${old_payload.crest_img}\" class=\"header-image\"/></div>`\ncrest_img = `data:image/png;base64,${old_payload.crest_img}`\n}\n\nlet travellers = '';\n\nfor (let traveller of old_payload.traveller)\n{travellers+=`<li>${traveller}</li>`;}\n\nlet calendar_comment = '';\n\nif (old_payload.calendar_comment) {\n    calendar_comment = `<div class=\"section\">\n            <div class=\"section-title\">Utazás leírása:</div>\n            <p>${old_payload.calendar_comment.replace(/\\n/g, '<br/>')}</p>\n        </div>`\n}\n\n\nlet uploaded_content = '';\nlet total_summary = 0;\nlet diagram_dataset = ''\nfor (let line in old_payload.uploaded_content)\n{\n    let summary= old_payload.uploaded_content[line].photo + old_payload.uploaded_content[line].video;\n    total_summary = total_summary+summary;\n    diagram_dataset += `,['${old_payload.uploaded_content[line].user}', ${summary}]`;\n    uploaded_content += `<div class=\"expense-item\"><b>${old_payload.uploaded_content[line].user}:</b> ${old_payload.uploaded_content[line].photo} kép, ${old_payload.uploaded_content[line].video} videó (${summary})</div>`;\n     }\n\nif (uploaded_content) {\n    uploaded_content = `\n\n    <div class=\"section\">\n        <div class=\"section-title\" > Feltöltött tartalmak (${total_summary}):</div>\n        <div class=\"expenses-container\">\n            <div class=\"expenses-list\">\n                ${uploaded_content}\n            </div>\n            <!-- Diagram oszlop -->\n        <div class=\"diagram-container\">\n            <div id=\"piechart_3d\" style=\"min-height:200px\"></div>\n        </div>\n    </div>\n        </div>`\n}\n\n\n\nlet paid_content = '';\n\nfor (let line in old_payload.summary_spending) {\n    paid_content += `<div class=\"expense\"><b>${old_payload.summary_spending[line].name}:</b> ${old_payload.summary_spending[line].paid}</div>`\n}\n\nif (paid_content) {\n    paid_content = `<div class=\"section\">\n    <div class=\"section-title\">Költések:</div>\n    <div class=\"expenses\">\n        ${paid_content}\n    </div>\n</div>`\n}\n\nlet other_content = '';\n\nfor (let line in old_payload.other_data) {\n    other_content += `<div class=\"expense\">${old_payload.other_data[line]}</div>`\n}\n\nif (other_content) {\n    other_content = `<div class=\"section\">\n    <div class=\"section-title\">Egyéb adatok:</div>\n    <div class=\"expenses\">\n        ${other_content}\n    </div>\n</div>`\n}\n\n\n\nlet visited_places_content = '';\nfor (let line in old_payload.visited_places) {\n    visited_places_content += `<li>&#9654;&nbsp;<a href=\"${old_payload.visited_places[line].link}\" target=\"new\"><b>${old_payload.visited_places[line].name}</b>`\n    if (old_payload.visited_places[line].type)\n    {\n        visited_places_content +=` (${old_payload.visited_places[line].type})`\n    }\n    visited_places_content += `</a></li>`\n}\n\n\nif (visited_places_content)\n{\n    visited_places_content = `<div class=\"section\">\n            <div class=\"section-title\">Meglátogatott helyek (${old_payload.visited_places.length}):</div>\n            <ul>\n                ${visited_places_content}\n            </ul>\n        </div>`\n}\n\nlet chatgpt_story = '';\n\nif (old_payload.chatgpt_story) {\nchatgpt_story =`<div class=\"section\">\n            <div class=\"section-title\">A Chat GPT szerint a kirándulásunk a következőképpen történt.:</div>\n            <p>${old_payload.chatgpt_story.replace(/\\n/g, '<br/>')}</p>\n        </div>`}\n\n\n\n\nmsg.payload=`\n\n<head>\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n        }\n\n        header {\n    background: linear-gradient(to right, white 0%, white 100px, #3c4f66 110px, #3c4f66 100%);\n    background: #3c4f66;\n    color: white;\n    padding: 20px;\n    text-align: center;\n    font-size: 24px;\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n    width: 80%;\n    max-width: 1200px; \n    margin: 0 auto;\n}\n\n.header-content {\n    display: flex;\n    align-items: center; \n}\n\n.header-image {\n    width: auto; \n    height: 60px; \n    margin-right: 20px; \n}\n\n.header-text {\n    flex-grow: 1; \n    text-align: center;\n    color: #fff;\n}\n\n        .container {\n            max-width: 1200px;\n            margin: 20px auto;\n            padding: 20px;\n            border-radius: 8px;\n            box-shadow: 0 4px 10px rgba(0,0,0,0.1);\n        }\n\n\n        h2 {\n            color: #3c4f66;\n        }\n\n        .section {\n            margin: 20px 0;\n        }\n\n        .section-title {\n            font-weight: bold;\n            font-size: 18px;\n            margin-bottom: 10px;\n            color: #3c4f66;\n        }\n\n        ul {\n            list-style-type: none;\n            padding: 0;\n            margin: 0;\n        }\n\n        li {\n            background: #e9eff5;\n            border-radius: 5px;\n            padding: 10px;\n            margin: 5px 0;\n            transition: background 0.3s;\n        }\n\n        li:hover {\n            background: #d0e4f9;\n        }\n\n        .expenses {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 15px;\n        }\n\n        .expense {\n            background: #e9eff5;\n            padding: 10px;\n            border-radius: 5px;\n            transition: background 0.3s;\n        }\n\n        .expense:hover {\n            background: #d0e4f9;\n        }\n\n        a {color:#000000;\n        text-decoration: none;\n        font-style: italic;\n        }\n\n\n      .expenses-container {\n    display: flex;\n    width: 100%;\n    margin: 0 auto;\n}\n\n.expenses-list {\n    flex: 1;\n    margin-right: 0px;\n}\n\n.expense-item {\n    background: #e9eff5;\n    padding: 10px;\n    border-radius: 5px;\n    margin-bottom: 10px;\n    transition: background 0.3s;\n}\n\n.expense-item:hover {\n    background: #d0e4f9;\n}\n\n.diagram-container {\n    flex: 1; \n    /*background: #f9f9f9; */\n    padding: 10px; \n    border-radius: 5px; \n    display: flex;\n    justify-content: center; \n    align-items: center; \n}\n\n\n\n    </style>\n</head>\n<body>\n\n    <header>\n     <div class=\"header-content\">\n        <div class=\"header-text\">„${old_payload.name}” utazás részletei${rating}</div>\n        </div>\n    </header>\n<div align=\"center\" style=\"margin-top:20px\">${external_links}</div>\n    <div class=\"container\">\n        <div class=\"section\">\n            <div class=\"section-title\">Résztvevők:</div>\n            <ul>\n                ${travellers}\n            </ul>\n        </div>\n        \n\n        <div class=\"section\">\n            <div class=\"section-title\">Tervezett indulás:</div>\n            <p>${old_payload.from_date.replace(/-/g, '.')} ${old_payload.from_time}</p>\n        </div>\n\n        <div class=\"section\">\n            <div class=\"section-title\">Tervezett érkezés:</div>\n            <p>${old_payload.to_date.replace(/-/g, '.')} ${old_payload.end_time}</p>\n        </div>\n\n        <div class=\"section\">\n            <div class=\"section-title\">Napkelte és napnyugta ideje:</div>\n            <p>Napkelte: ${old_payload.sunrise}, Napnyugta: ${old_payload.sunset}</p>\n        </div>\n\n        <i>${calendar_comment}</i>\n\n        ${chatgpt_story}\n\n        ${visited_places_content}\n\n        ${uploaded_content}\n\n        ${paid_content}\n\n        ${other_content}\n\n\n\n\n        \n    </div>\n\n<script>\n\nlet element = document.getElementById('referer');    \nelement.scrollIntoView(true);\n;\n`\nif (uploaded_content)\n{msg.payload+=`\n\n</script>\n<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n      google.charts.load(\"current\", {packages:[\"corechart\"]});\n      google.charts.setOnLoadCallback(drawChart);\n      function drawChart() {\n        var data = google.visualization.arrayToDataTable([\n          ['Utazó', 'Feltöltött tartalom utazó alapján']\n          ${diagram_dataset}\n        ]);\n\n        var options = {\n          is3D: true,\n          chartArea:{top:0,width:'100%',height:'100%'}\n        };\n\n        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));\n        chart.draw(data, options);\n      }\n    </script>\n`}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1680,
        "wires": [
            [
                "a3a6eef69baefcc0"
            ]
        ]
    },
    {
        "id": "eb90b39a3cba7ba9",
        "type": "switch",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "name",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 1720,
        "wires": [
            [
                "5ae2f8798dd4a0b3"
            ],
            [
                "3373eb416a57ab7b"
            ]
        ]
    },
    {
        "id": "3373eb416a57ab7b",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 35",
        "func": "msg.payload='Nincs ilyen utazás';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1740,
        "wires": [
            [
                "a3a6eef69baefcc0"
            ]
        ]
    },
    {
        "id": "9915415d42f1d2be",
        "type": "http in",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "url": "/get_travel_file",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1820,
        "wires": [
            [
                "66c8333fbe76c240"
            ]
        ]
    },
    {
        "id": "66c8333fbe76c240",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 36",
        "func": "let to_data = `{\"id\":${msg.payload.id}, \"readField\": [\"file\"]}`\nmsg.payload = env.get('framework_auth');\nmsg.payload += \"&model=travelTravelFiles&method=read&responsetype=json&inputtype=json&data=\"+to_data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1820,
        "wires": [
            [
                "2e914e75a8745313"
            ]
        ]
    },
    {
        "id": "2e914e75a8745313",
        "type": "http request",
        "z": "4a980d5862cc3ba8",
        "name": "Live",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://reggiepage.hu/remotecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1820,
        "wires": [
            [
                "f34bb67b7936da77"
            ]
        ]
    },
    {
        "id": "f34bb67b7936da77",
        "type": "function",
        "z": "4a980d5862cc3ba8",
        "name": "function 37",
        "func": "msg.payload = msg.payload[0];\nlet data = msg.payload;\n\nObject.keys(data).forEach(function (key) {\n    msg.payload=Buffer.from(data[key].file, 'base64').toString('utf-8');\n    \n})\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1820,
        "wires": [
            [
                "ea11f7b2184914fc"
            ]
        ]
    },
    {
        "id": "ea11f7b2184914fc",
        "type": "http response",
        "z": "4a980d5862cc3ba8",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/xml"
        },
        "x": 1290,
        "y": 1820,
        "wires": []
    },
    {
        "id": "5421cefb1b6acb4d",
        "type": "debug",
        "z": "4a980d5862cc3ba8",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 1340,
        "wires": []
    }
]